.contact {
    @include cardBack;
    box-shadow: 0px 10px 10px 10px rgba(255, 0, 0, 0.8);
    animation-name: animate;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.4s;
    display: grid;
    grid-template-columns: 1fr;

    @include desktop {
        grid-template-columns: 2fr 1fr;
    }
}

@keyframes animate {
    0% {
        box-shadow: none;

    }
}

.data {
    margin: 20px;

    & textarea {
        @include textComplete;
    }

    & input {
        @include textComplete;
    }

    & select {
        @include textComplete;
    }

    & button {
        width: 100%;
    }

    @include desktop {
        padding: 0 40px;
    }
}

.info-form {
    background-color: rgb(0, 0, 0);
    color: $fontColor;
    text-align: center;
    padding: 20px;
    border-radius: 0 0 15px 15px;

    @include desktop {
        border-radius: 0 15px 15px 0;
        text-align: left;
    }

    ul {
        list-style: none;
        padding: 20px 0 0 0;

        @include desktop {
            padding-top: 20px;
        }
    }

    p {
        font-size: 20px;
        margin: 0;
    }

    i {
        margin-right: 20px;
    }
}

.img-contact {
    max-width: 100%;
    border-radius: 0 15px 0 0;

    @include mobile {
        display: none;
    }
}

.instagram-link {
    display: flex;

    a {
        @include instaLinks;
        font-family: $fontTertiary;
        color: $fontColor;

        &:hover {
            animation: jello;
            animation-duration: 0.5s;
        }

        @include desktop {
            font-size: 40px;
        }
    }

    i {
        @include instaLinks;

        @include desktop {
            font-size: 40px;
        }
    }

    @include mobile {
        display: none;
    }
}