body {
    margin: 0;
    padding: 0;
    background-image: radial-gradient(at right bottom, rgba(150, 150, 150, 0.25) 0%, rgba(60, 60, 60, 0.5) 25%, rgba(0, 0, 0, 0.75) 50%), url("../assets/img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


h2 {
    font-family: $fontPrimary;
    color: $fontColor;
    padding: 20px 0px 0 20px;
    margin: 0;
    font-size: 28px;
    font-style: normal;
    text-transform: uppercase;
    text-align: start;
    padding: 30px;

    animation-name: efecto;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.4s;
}

@keyframes efecto {
    50% {
        color: rgba(33, 37, 41);
    }
}

p {
    color: $fontColor;
    font-family: $fontSecundary;
}